body, html {
  overflow-x: hidden;
}

.title-section-heading {
  background-color: #085FDA;
  color: white;
  text-align: center;
  padding: 1em;
  margin: 1em 0;
}
.title-section-heading h2 {
  color: rgba(255, 255, 255, 0.86);
  line-height: 1em;
  margin-bottom: 0;
  letter-spacing: 5px;
  font-size: 1.5em;
}

.box-menu-lateral {
  right: unset;
  left: -200%;
  z-index: 3 !important;
}
.box-menu-lateral.show-menu {
  left: 0;
}

.sticky-header {
  z-index: 3 !important;
}
.sticky-header .box-logo .img-brand {
  max-height: 85px !important;
}

.bottom-subheader .nav .nav-link {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-weight: 600;
  color: #282848;
  font-size: 10pt;
  letter-spacing: 0px;
}
.bottom-subheader .nav .nav-link:hover {
  color: #F68B3D;
}
.bottom-subheader .nav .current-menu-item .nav-link {
  color: #F68B3D;
}

.sub-heading-section h1 {
  text-transform: uppercase;
  font-size: 3em;
}
.sub-heading-section h1 span {
  color: white;
  font-family: "Roboto", sans-serif !important;
  font-weight: 500 !important;
  letter-spacing: 0px;
}
.sub-heading-section .cont-button-play {
  background-color: transparent;
  border: none;
  outline: none;
}

.modal-video-cat .modal-content {
  background-color: transparent;
  border: none;
}
.modal-video-cat iframe {
  width: 100% !important;
  height: 450px;
}

.sidebar-woocommerce {
  display: flex;
  margin-bottom: 2em;
}
.sidebar-woocommerce .widget {
  margin-right: 2em;
  min-width: 200px;
  border: 1px solid #d7d7d7;
  padding: 1em;
  border-radius: 5px;
}
.sidebar-woocommerce .widget a {
  color: #555555;
}
.sidebar-woocommerce .widget a:hover {
  color: #F68B3D;
}
.sidebar-woocommerce .widget-title {
  font-size: 1em;
  text-transform: uppercase;
  color: #282848;
  position: relative;
  margin-bottom: 2em;
}
.sidebar-woocommerce .widget-title::before {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  width: 30px;
  height: 3px;
  background-color: #F68B3D;
}
.sidebar-woocommerce .widget .price_slider_amount {
  font-family: "Quicksand", sans-serif;
  text-align: left;
}
.sidebar-woocommerce .widget .price_slider_amount button {
  display: block;
  width: 100%;
  border: 1px solid #085FDA;
  background: transparent;
  color: #085FDA;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  float: none;
  font-size: 1em !important;
  transition: all 0.3s;
}
.sidebar-woocommerce .widget .price_slider_amount button:hover {
  background-color: #085FDA;
  color: white;
}
.sidebar-woocommerce .widget .price_slider_amount span {
  font-family: "Quicksand", sans-serif;
}

.woocommerce .widget_price_filter .ui-slider .ui-slider-range, .woocommerce .widget_price_filter .ui-slider .ui-slider-handle {
  background-color: #F68B3D;
}

.woocommerce-result-count {
  letter-spacing: 0px;
}

.woocommerce-ordering select {
  height: 40px;
  border-color: #d7d7d7;
  padding: 0 10px;
  font-family: "Quicksand", sans-serif;
  color: #555555;
}

@media (max-width: 995px) {
  .modal-video-cat iframe {
    height: 300px !important;
  }
}
@media (max-width: 576px) {
  .modal-video-cat iframe {
    height: 200px !important;
  }
}
.sub-heading-product {
  background-color: #EEEEEE;
}
.sub-heading-product .breadcrumbs a span {
  color: #F68B3D;
}

.products .type-product {
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.13);
  border-radius: 25px;
  overflow: hidden;
  transition: all 0.3s;
}
.products .type-product:hover {
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.13);
  transform: translateY(-5px);
}
.products .type-product img {
  margin: 0 !important;
}
.products .type-product .woocommerce-LoopProduct-link {
  margin-top: 0px;
}
.products .type-product .woocommerce-LoopProduct-link .price {
  padding: 1em 1em 0.5em 1em;
  font-size: 1em;
  margin-bottom: 0px !important;
}
.products .type-product .woocommerce-loop-product__title {
  background-color: #282848;
  padding: 0.5em 1em !important;
  color: white;
  font-family: "Quicksand", sans-serif;
}
.products .type-product .add_to_cart_button {
  width: 90%;
  margin: auto;
  text-align: center;
  margin: auto;
  display: block;
  margin-bottom: 2em;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background-color: #F68B3D;
  border-radius: 50pc;
  color: white;
  transition: all 0.3s;
}
.products .type-product .add_to_cart_button:hover {
  background-color: #f47111;
  color: white;
}
.products .type-product .onsale {
  right: 20px !important;
  top: 20px !important;
  border-radius: 5px;
  min-height: 0px;
  line-height: 1em;
  padding: 5px;
}

.products .product-category {
  position: relative;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.13);
  border-radius: 21px;
  overflow: hidden;
  transition: all 0.3s;
}
.products .product-category .woocommerce-loop-category__title {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  flex-direction: column;
  text-align: center;
  background-color: #282848;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 2em !important;
  letter-spacing: 0px !important;
  font-size: 1em !important;
  line-height: 1em !important;
  transition: all 0.3s;
}
.products .product-category .woocommerce-loop-category__title .count {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  height: 0px;
  opacity: 0;
}
.products .product-category .woocommerce-loop-category__title .cont-arrow {
  position: absolute;
  bottom: -40px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}
.products .product-category:hover .woocommerce-loop-category__title {
  height: 100%;
  background-color: #F68B3D;
}
.products .product-category:hover .woocommerce-loop-category__title .cont-arrow {
  position: relative;
  bottom: 0;
  opacity: 1;
  animation: sliceArrow 1s infinite;
}

@keyframes sliceArrow {
  0% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(20px);
  }
  100% {
    transform: translateX(0px);
  }
}
.box-buttons-wc .item-search {
  margin: 0.4em;
}
.box-buttons-wc .dgwt-wcas-search-form svg {
  fill: #fff;
}
.box-buttons-wc .dgwt-wcas-search-form svg path {
  fill: #fff;
}
.box-buttons-wc .dgwt-wcas-search-form .dgwt-wcas-search-input {
  background: transparent !important;
  color: white;
}
.box-buttons-wc .dgwt-wcas-search-form .dgwt-wcas-search-input::placeholder {
  font-family: "Quicksand", sans-serif;
  font-style: normal !important;
}
.box-buttons-wc .dgwt-wcas-search-form .dgwt-wcas-search-input:focus {
  border-color: #F68B3D;
}

@media (max-width: 576px) {
  .box-buttons-wc {
    background: #F68B3D;
  }
  .box-buttons-wc .item-search .dgwt-wcas-search-input::placeholder {
    color: white !important;
  }
  .box-buttons-wc .nav-link {
    color: white;
  }
}
.cont-card-post {
  width: 100%;
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.13);
  border-radius: 25px;
  overflow: hidden;
}
.cont-card-post .cont-card-img-post img {
  width: 100%;
  height: 280px;
  object-fit: cover;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.cont-card-post .cont-card-desc-post {
  padding: 0.8em 1.5em;
  border-radius: 0 0 25px 25px;
}
.cont-card-post .cont-card-desc-post .date-post {
  font-size: 15px;
  color: black;
  font-family: "Quicksand", sans-serif;
}
.cont-card-post .cont-card-desc-post .title-post {
  color: #282848;
  font-size: 30px;
  font-family: "Roboto";
  font-weight: bold;
  line-height: 30px;
}
.cont-card-post .cont-card-desc-post .desc-post {
  color: #777171;
  font-family: "Quicksand", sans-serif;
  font-size: 15px;
  letter-spacing: 0px;
}
.cont-card-post .cont-card-desc-post .btn-card {
  width: 100%;
  border-radius: 25px;
  border: solid 2px #F68B3D;
  background-color: white;
  color: #F68B3D;
  margin-bottom: 10px;
  transition: all 0.3s;
}
.cont-card-post .cont-card-desc-post .btn-card:hover {
  background-color: #F68B3D;
  color: white;
}

.slick-cats button::before {
  color: #F68B3D !important;
}
.slick-cats .item-cat {
  padding: 1em;
}
.slick-cats .item-cat figure {
  border-radius: 21px;
  overflow: hidden;
  position: relative;
}
.slick-cats .item-cat figure img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.slick-cats .item-cat figure figcaption {
  background-color: #282848;
  color: white;
  text-align: center;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  padding: 1em 2em;
  transition: all 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.slick-cats .item-cat figure figcaption .cont-arrow {
  opacity: 0;
  position: absolute;
  bottom: -30px;
  transition: all 0.3s ease-in-out;
}
.slick-cats .item-cat figure figcaption h4 {
  color: white;
  font-size: 1em;
}
.slick-cats .item-cat:hover figure figcaption {
  height: 100%;
  background-color: #F68B3D;
}
.slick-cats .item-cat:hover figure figcaption .cont-arrow {
  opacity: 1;
  position: relative;
  bottom: 0;
  animation: sliceArrow 1s infinite;
}

/*# sourceMappingURL=custom-style.css.map */
