.modal-video-cat
    .modal-content
        background-color: transparent
        border: none
    iframe
        width: 100% !important
        height: 650px
.tax-product_cat
    aside#secondary
        display: none

@media (max-width: 995px)
    .modal-video-cat
        iframe
            height: 300px !important